@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

*{
	margin:0px;
	padding:0px;
}

body{
	font-family: 'Barlow Semi Condensed', sans-serif;
}

header {
	height:50px;
	background-color:rgb(64,103,121);
	display:flex;
	align-items:center;
	justify-content:center;
}

header a:hover{
color:rgb(220,192,119);
transition:1s all ease;
}

header a img{
	width:228px;
}

header nav{
	width:90%;
	height:100%;
		display:flex;
	align-items:center;
	justify-content:space-between;
}

header ul{
	list-style-type:none;
}

header ul li{
	display:inline;
	padding:15px;
}

header ul li a{
	text-decoration:none;
	color:rgb(255,255,255);
	font-size:17px;
}

#naslovna-slika{
	background-image: url(../img/pozadina.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
	position: relative;
	border-radius: 0px 0px 15px 36px;
}

#naslovna-tekst{
	background-color: rgb(64,103,121);
    border: 3px solid #b49e28;
    color: white;
    border-radius: 20px 20px 0px 0px;
	border-bottom:none;
	padding-bottom:10px;
	position: absolute;
    top: 254px;
}

#naslovna-tekst h1 {
	font-size:65px;
	padding:0px 13px 0px 13px
}

#slogan{
	background-color: rgb(64,103,121);
    border: 3px solid #b49e28;
    border-radius: 0px 20px 20px 35px;
}

#slogan h2 {
	font-size:27px;
	color:rgb(234,230,222);
	padding:10px;
}

.sadržajni{
	margin:20px 20px 0px 20px;
	height:335px;
	background-color:rgb(64,103,121);
	display:flex;
	justify-content:space-around;
	gap:185px;
	align-items:center;
	border-radius:15px;
}

.sadržajni img{
	height:290px;
	border-radius: 10px;
}

.sdr-tekstblok{
	height:350px;
	width:45%;
}

.sdr-naslov h4{
	font-size:32px;
}

.sdr-tekst{
	height:75%;
	padding:0px 5%;
	font-size:28px;
	color:rgb(245,245,245);
	text-align:center;
}

.sdr-naslov{
	text-align:center;
	display:inline-block;
	height:15%;
	margin:5% 0px 2% 5%;
	border-bottom:2px solid #b49e28;
	width:90%;
	color:rgb(245,245,245);
}

footer{
	background-color:#2a2a2a;
	display:flex;
	justify-content:space-around;
	height:150px;
	align-items:center;
	margin-top:39px;
	gap:50px;
}

footer img{
	width:180px;
}

footer ul{
	list-style-type:none;
}

footer ul li{
	padding:12px;
}

footer ul li a {
	text-decoration:none;
	color:white;
	font-size:15px;
}

footer ul li a:hover{
	color:rgb(220,192,119)
}

.fa-facebook{
	color:#4267B2;
}

.fa-instagram{
	color:#e03378;
}

.fa-telegram{
	color:#229ED9;
}

#naslovna-slika-g{
	background-image:url("../img/naslovna-g.jpg");
	background-size:100%;
	height:330px;
	position:relative;
	border-radius: 0px 0px 15px 15px;
    border: 5px solid #b49e28;
}

#naslovna-slika-g div{
    position: absolute;
    top: 227px;
    display: inline-block;
    background-color: rgb(64,103,121);
    border: 3px solid #b49e28;
	border-left: none;
    border-bottom: none;
    color: white;
    border-radius: 0px 20px 0px 11px;
    padding-bottom: 10px;
}

#naslovna-slika-g div h2{
	font-size:75px;
}

.galerijski{
	background-color: rgb(64,103,121);
    width: 90%;
    margin-left: 5%;
    margin-top: 35px;
    height: 360px;
	display:flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
}

.nalazište{
	width:25%;
	display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.nalazište h2{
	text-align:center;
	color:white;
	border-bottom: 2px solid #b49e28;
    width: 90%;
}

.nalazište:hover{
	transform:scale(1.1);
	transition:0.4s all ease;
	font-size:17;
}

.nalazište img{
	width:395px;
	border-radius:10px;
	border:2px solid #b49e28;
}

#glavni-držac-g footer{
	margin-top:30px;
}

#glavni-držač-k{
	background-color:rgb(35,51,66);
	height:953px;
}

#držač-k{
	height:714px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:8%;
	position:relative;
}

form{
	display: flex;
    flex-direction: column;
    width: 35%;
    height: 427px;
    padding: 49px 45px;
    margin: 0px 0px 29px 74px;
    background-color: rgb(64,103,121);
    border: 4px solid #b49e28;
    border-radius: 35px 5px 35px 10px;
    color: white;
}

form label{
	font-size:25px;
}

form input{
	font-size:21px;
	margin-bottom:35px;
	padding:0px 10px;
	border-radius:10px;
	width:50%;
	font-size:25px;
	
}

form input[type="text"]{
	width:60%;
}

form textarea{
	resize:none;
	width:85%;
	border-radius:10px;
}

form input[type="submit"]{
	width:162px;
	margin:54px 0px 0px 232px;
	animation:prelazak infinite 3s;
	cursor: pointer;
	border: 3.5px solid #b49e28;
    color: #333333;
    padding: 4px 0px;
}

#držač-k aside{
	width: 750px;
    height: 481px;
    border: 4px solid #b49e28;
    border-radius: 5px 35px 10px 35px;
    margin: 0% 5% 2% 0%;
    padding: 20px;
    background-color: rgb(64,103,121);
	position:relative;
}

iframe{
	border-radius:5px 15px 10px 15px;
}

#držač-k h2{
	display: inline-block;
    border: 4px solid #b49e28;
    padding: 0px 5px 4px 9px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(64,103,121);
    color: white;
    position: absolute;
    top: 39px;
    left: 115px;
	}
	
#držač-k h3{
	display: inline-block;
    margin: 5px 0px 0px 490px;
    border: 4px solid #b49e28;
    padding: 2px 5px 9px 9px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(64,103,121);
    color: white;
    font-size: 22px;
	position:absolute;
	top:-50px;
	left:-58%;
}

#držač-o{
	display:flex;
	height:753px;
	justify-content: space-evenly;
    align-items: center;
	background-color: rgb(35,51,66);
}

#slika-autor{
	background-color:rgb(64,103,121);
	width: 575px;
    height: 480px;
	border-radius: 10px;
	border: 2px solid #b49e28;
}

#o-autoru-tekst{
	background-color:rgb(64,103,121);
	width: 40%;
    height: 50%;
    border-radius: 10px;
	border: 2px solid #b49e28;

}

#o-autoru-tekst p{
	margin:10px 0px 0px 10px;
	color:white;
	font-size:25px;
}

span{
	color:rgb(220,192,119);
	}

#slika-autor img{
	width: 525px;
    margin: 25px 0px 0px 27px;
    border-radius: 10px;
}

#glavni-o footer{
	margin-top:0px;
}

@keyframes prelazak{
	0%{
		background-color:rgb(64,104,121);
	}
	50%{
		background-color:rgb(150,150,150);
	}
	100%{
		background-color:rgb(64,104,121);
	}
}
